html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 180px;
}

.footer {
	height: 180px;
	padding-top: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.clickable {
	cursor: pointer;
}