html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 100px;
}

[ng-click] {
    cursor: pointer;
}

.footer {
	height: 100px;
	padding-top: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.breadcrumbNav {
	width: 100%;
    border-top: 1px solid rgba(255, 255, 255, .125);
    line-height: 1;
}

.breadcrumbNav .breadcrumbList {
	list-style: none;
	padding: 5px 15px;
}

.breadcrumbNav .breadcrumbList .breadcrumbListLink {
    display: inline;
    font-size: 0.9em;
}

.breadcrumbNav .breadcrumbList .breadcrumbListLink a {
	color: rgba(255,255,255,.5);
}

.breadcrumbNav .breadcrumbList .breadcrumbListLink a:hover {
    color: rgba(255,255,255,.75);
    text-decoration: none;
}

.breadcrumbNav .breadcrumbList .breadcrumbListLink .active {
	color: rgba(255,255,255,.25);
}

.breadcrumbNav .breadcrumbList .breadcrumbListLink:not(:first-child):before {
    content: " > ";
}

.categoryList {
    list-style: none;
    padding-left: 20px;
    height: 100%;
    font-size: 1.1em;
}

.categoryList li a:hover {
    text-decoration: none;
}

.categoryList li a.active {
    color: #3395ff;
}

.categoryList li ul {
    list-style: none;
    padding-left: 20px;
    font-size: 0.9em;
}

.clickable {
	cursor: pointer;
}

.rounded-top-0 {
    border-top-left-radius:0!important;
    border-top-right-radius:0!important;
}
.rounded-bottom-0 {
    border-bottom-left-radius:0!important;
    border-bottom-right-radius:0!important;
}
.rounded-left-0 {
    border-top-left-radius:0!important;
    border-bottom-left-radius:0!important;
}
.rounded-right-0 {
    border-top-right-radius:0!important;
    border-bottom-right-radius:0!important;
}

@media (min-width: 768px) {
	.modal-xl {
		width: 90%;
		max-width: 1800px;
    }
}

@media (max-width: 767px) {
    body {
        margin-bottom: 150px;
    }

    .footer {
        height: 150px;
    }

    .categoryListContainer {
        z-index: 100;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -250px;
        width: 250px;
        padding: 15px;
        background-color: #343a40!important;
    }
    .categoryListContainer.active {
        left: 0;
        -webkit-transition: all 150ms linear;
        -moz-transition: all 150ms linear;
        -ms-transition: all 150ms linear;
        -o-transition: all 150ms linear;
        transition: all 150ms linear;
    }

    .categoryListContainer h2 {
        color: #e9ecef!important;
    }
}
