<br />
<footer class="footer bg-dark">
	<div class="container">
		<div class="p-3">
			<div class="row text-light" style="font-size:.8em">
				<span class="mx-auto text-center">This domain, its content, and its creators are not associated, nor affiliated, with the LegendMUD immortal staff.</span>
			</div>
			<div class="row text-light" style="font-size:.8em">
				<span class="mx-auto text-center">Additionally, since this is an open-access project, all of the information posted and listed may be incorrect.</span>
			</div>
			<div class="row text-primary">
				<span class="mx-auto text-center"><i class="far fa-copyright"></i>&nbsp;2018</span>
			</div>
		</div>
	</div>
</div>
<%if (!locals.cookies["cookie-consent"]) {%>
<div class="cookie-consent-banner">
    <div class="container">
        <div class="row">
            <p class="col-12 col-lg-10 text-justify">This website uses cookies, which are necessary to its functioning and required to achieve the purposes illustrated in the <a href="/cookies.html">cookie policy</a>. If you want to know more or withdraw your consent to all or some of the cookies, please refer to the cookie policy. By closing this banner, you agree to the use of cookies. Should you choose not to close this banner, it will persist on every page and certain features will not function as expected.</p>
            <div class="col-12 col-lg-2">
                <button class="btn btn-block btn-primary cookie-consent-button" lh-cookie-consent>Agree</button>
            </div>
        </div>
    </div>
</footer>
<%}%>
