<footer class="footer bg-dark">
	<div class="container">
		<div class="p-2 text-white">
            <div class="row justify-content-center mb-3 mt-2 text-center">
                <a href="/changelog/" class="col-auto text-light text-nowrap">Changelog</a>
                <a href="/feedback.html" class="col-auto text-light text-nowrap">Send Feedback</a>
                <a href="/cookies.html" class="col-auto text-light text-nowrap">Cookie Policy</a>
                <a href="http://www.topmudsites.com/vote-legend.html" target="_blank" rel="noopener" rel="noreferrer" class="col-auto text-light text-nowrap">Vote</a>
                <a href="https://www.github.com/SvarturH/legendhub/" target="_blank" rel="noopener" rel="noreferrer" class="col-auto text-light text-nowrap">GitHub Repository</a>
            </div>
			<div class="row" style="font-size:.9rem">
				<span class="mx-auto text-center">This domain <i class="far fa-copyright"></i>&nbsp;2018, its content, and its creators are not associated, nor affiliated, with the LegendMUD immortal staff. Additionally, since this is an open-access project, all of the information posted and listed may be incorrect.</span>
			</div>
		</div>
	</div>
</div>
<%if (!locals.cookies["cookie-consent"]) {%>
<div class="cookie-consent-banner">
    <div class="container">
        <div class="row">
            <p class="col-12 col-lg-10 text-center text-md-left">This website uses cookies, which are necessary to its functioning and required to achieve the purposes illustrated in the <a href="/cookies.html">cookie policy</a>. If you want to know more or withdraw your consent to all or some of the cookies, please refer to the cookie policy. By closing this banner, you agree to the use of cookies. Should you choose not to close this banner, it will persist on every page and certain features will not function as expected.</p>
            <div class="col-12 col-lg-2">
                <button class="btn btn-block btn-primary cookie-consent-button" lh-cookie-consent>Agree</button>
            </div>
        </div>
    </div>
</footer>
<%}%>
