<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta property="og:site_name" content="LegendHUB" />
<meta property="og:type" content="website" />
<meta property="og:title" content="<%=title%>" />
<meta property="theme-color" content="#007bff" />

<script>
function getCookie(a){let b=document.cookie.match('(^|[^;]+)\\s*' + a + '\\s*=\\s*([^;]+)');return b?b.pop():'';}
let t='';if(getCookie('cookie-consent')){t=getCookie('theme');}if(!t){t="light";}document.write("<link id='theme' rel='stylesheet' href='/css/bootstrap-"+t+".min.css?v=<%-locals.version%>' type='text/css'>");
</script>
<noscript><link id="theme" rel="stylesheet" href="/css/bootstrap-light.min.css?v=<%-locals.version%>"></noscript>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<title><%-title%> | LegendHUB</title>
