# IDE
.vscode

# WWW
www/php/common/config.php
www/php/scrape/*
www/sql/*
www/bin/*
www/deploy.sh.conf

# notification listener
python/__pycache__/
python/**/*.py[cod]
python/**/*$py.class
python/sql/sql_engine_config.py
