<!doctype html>
<html lang="en" style="height: 100%;">

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121476411-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-121476411-1');
	</script>
	
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	    crossorigin="anonymous">
	<link rel="stylesheet" href="/css/styles.css">

	<title>LegendHUB - Login</title>
</head>

<body ng-app="legendwiki-app" ng-controller="login-controller" class="bg-light" style="height: 100%;">
	<div class="container h-100">
		<div class="row h-100 align-items-center">
			<div id="accordion" class="col-12 col-sm-8 col-md-6 col-lg-4 mx-auto">
				<form class="card" name="loginForm" ng-submit="login()" novalidate>
					<div class="card-header" id="loginHeading" style="cursor: pointer;" data-toggle="collapse" data-target="#loginCollapse" aria-expanded="true"
					    aria-controls="loginCollapse">
						<h3 class="text-center">Login</h3>
					</div>
					<div id="loginCollapse" class="collapse show" aria-labelledby="loginHeading" data-parent="#accordion">
						<div class="card-body">
							<div class="input-group">
								<dig class="input-group-prepend">
									<span class="input-group-text" id="usernameLabel">Username</span>
								</dig>
								<input type="text" class="form-control" aria-label="Username" aria-describedby="usernameLabel" ng-model="loginModel.Username" required autofocus>
							</div>
							<br />
							<div class="input-group">
								<dig class="input-group-prepend">
									<span class="input-group-text" id="passwordLabel">Password</span>
								</dig>
								<input name="passwordInput" type="password" class="form-control" aria-label="Password" aria-describedby="passwordLabel" ng-model="loginModel.Password" required>
							</div>
							<p ng-show="loginMessages.failed" class="text-danger">Incorrect username or password.</p>
							<p ng-show="loginMessages.locked" class="text-danger">This account has been locked.</p>
							<br />
							<button ng-disabled="!loginForm.$valid" class="btn btn-primary col-12">Login</button>
						</div>
					</div>
				</form>
				<form class="card" name="registerForm" ng-submit="register()" novalidate>
					<div class="card-header" id="registerHeading" style="cursor: pointer;" data-toggle="collapse" data-target="#registerCollapse"
					    aria-expanded="false" aria-controls="registerCollapse">
						<h3 class="text-center">Register</h3>
					</div>
					<div id="registerCollapse" class="collapse" aria-labelledby="registerHeading" data-parent="#accordion">
						<div class="card-body">
							<div class="input-group">
								<dig class="input-group-prepend">
									<span class="input-group-text" id="usernameLabel">Username</span>
								</dig>
								<input name="usernameInput" ng-pattern="/^[A-Za-z0-9]*$/" type="text" class="form-control" aria-label="Username" aria-describedby="usernameLabel" ng-change="checkUsername()" ng-model="registerModel.Username" ng-model-options="{debounce: 200}" required>
							</div>
							<p ng-show="registerForm.usernameInput.$error.length" class="text-danger">Username must be between 5 to 25 characters in length.</p>
							<p ng-show="registerForm.usernameInput.$error.taken" class="text-danger">Username is taken.</p>
							<p ng-show="registerForm.usernameInput.$error.pattern" class="text-danger">Username contains invalid characters.</p>
							<br />
							<div class="input-group">
								<dig class="input-group-prepend">
									<span class="input-group-text" id="passwordLabel">Password</span>
								</dig>
								<input name="passwordInput" type="password" class="form-control" aria-label="Password" aria-describedby="passwordLabel" ng-change="checkPassword()" ng-model="registerModel.Password" ng-model-options="{debounce: 200}" required>
							</div>
							<p ng-show="registerForm.passwordInput.$error.length" class="text-danger">Password must be at least 8 characters in length.</p>
							<br />
							<div class="input-group">
								<dig class="input-group-prepend">
									<span class="input-group-text" id="confirmPasswordLabel">Confirm</span>
								</dig>
								<input name="confirmPasswordInput" type="password" class="form-control" aria-label="ConfirmPassword" aria-describedby="confirmPasswordLabel" ng-change="checkPassword()" ng-model="registerModel.ConfirmPassword" ng-model-options="{debounce: 200}" required>
							</div>
							<p ng-show="registerForm.confirmPasswordInput.$error.length" class="text-danger">Password must be at least 8 characters in length.</p>
							<p ng-show="registerForm.confirmPasswordInput.$error.match" class="text-danger">Passwords do not match.</p>
							<br />
							<button ng-disabled="!registerForm.$valid" class="btn btn-primary col-12" type="submit">Register</button>
							<p ng-show="registerFailed" class="text-danger">Register Failed. Please try again.</p>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	    crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	    crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-cookies.min.js"></script>
	<script src="/js/apps/legendwiki-app.js"></script>
	<script src="/js/controllers/login-controller.js"></script>
</body>

</html>