<!doctype html>
<html lang="en">

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121476411-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-121476411-1');
	</script>
	
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	    crossorigin="anonymous">
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
	    crossorigin="anonymous">

	<title>LegendHUB - Items</title>
</head>

<body ng-app="legendwiki-app" ng-controller="items-controller">
	<div ng-include="'/shared/header.html'"></div>
	<div class="container">
		<div class="row">
			<h1>Items</h1>
		</div>
		<span class="text-info">{{listFilters()}}</span>
		<div id="searchAccordian" ng-cloak>
			<form ng-submit="search()">
				<div class="row">
					<span class="text-danger" ng-show="searchError != ''">{{searchError}}</span>
				</div>
				<div class="row">
					<div class="input-group col-12">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="fas fa-search"></i>
							</span>
						</div>
						<input type="text" ng-model="searchString" class="form-control" placeholder="Search..." />
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseHideColumns" aria-expanded="false"
							    aria-controls="collapseHideColumns">Columns</button>
							<button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseFilters" aria-expanded="false"
							    aria-controls="collapseFilters">Filters</button>
							<button class="btn btn-outline-success" type="submit">Search</button>
						</div>
					</div>
				</div>
			</form>
			<div class="row">
				<div class="collapse col-12" id="collapseHideColumns" data-parent="#searchAccordian">
					<div class="card card-body">
						<div class="row">
							<p class="text-muted">Use these to hide columns from the search result grid.</p>
						</div>
						<div ng-repeat="category in statCategories">
							<div class="row">
								<h4>{{category["name"]}}</h4>
							</div>
							<div class="row">
								<div class="form-check col-4 col-md-2" ng-repeat="stat in category['stats']">
									<input class="form-check-input" type="checkbox" ng-model="statInfo[stat]['showColumn']" id="{{statInfo[stat]['var']}}check"
									    ng-change="saveCookies()">
									<label class="form-check-label" for="{{statInfo[stat]['var']}}check">
										{{statInfo[stat]["display"]}}
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="collapse col-12" id="collapseFilters" data-parent="#searchAccordian">
					<div class="card card-body">
						<div class="row">
							<span class="text-muted">Use these to only show results with those stats.</span>
						</div>
						<div class="row">
							<span class="text-muted">Search again after selecting.</span>
						</div>
						<br />
						<div ng-repeat="category in statCategories">
							<div class="row">
								<h4>{{category["name"]}}</h4>
							</div>
							<div class="row">
								<div class="form-check col-4 col-md-2" ng-repeat="stat in category['stats']">
									<input class="form-check-input" type="checkbox" ng-model="statInfo[stat]['filter']" id="{{statInfo[stat]['var']}}filtercheck">
									<label class="form-check-label" for="{{statInfo[stat]['var']}}filtercheck">
										{{statInfo[stat]["display"]}}
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br />
		<div class="row" ng-show="resultWarning != ''" ng-cloak>
			<span class="text-danger">{{resultWarning}}</span>
		</div>
		<div class="row" ng-cloak>
			<div class="card table-responsive">
				<div class="card-header">
					<strong class="float-left">{{recent ? "Recently Modified" : "Search Results"}}</strong>
					<div class="float-right clickable">
						<a href="{{isLoggedIn ? '/items/add.html' : '/login.html?returnUrl=/items/add.html'}}">
							<i class="fas fa-plus"></i>
						</a>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-sm table-md table-hover table-striped table-bordered" ng-cloak>
						<thead class="thead-dark">
							<tr>
								<th scope="col" ng-if="recent">Modified By</th>
								<th scope="col">Slot</th>
								<th scope="col" ng-click="onColumnHeaderClicked('Name')" nowrap>Name&nbsp;<i ng-class="sortClass('Name')"></i></th>
								<th ng-repeat="stat in statInfo" ng-show="stat.showColumn" ng-click="onColumnHeaderClicked(stat.var)" nowrap>{{stat.short}}&nbsp;<i ng-class="sortClass(stat.var)"></i></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in items | limitTo : 20 : 20 * (currentPage - 1)" ng-click="onItemClicked(item)" style="cursor: pointer;">
								<td ng-if="recent">{{item.ModifiedBy}}</td>
								<td>{{slots[item.Slot]}}</td>
								<th scope="row" class="text-primary">{{item.Name}}</th>
								<td class="text-center" ng-repeat="stat in statInfo" ng-show="stat.showColumn">
									<span ng-if="stat.type == 'bool'">
										<i class="{{item[stat.var] == 1 ? 'text-success fas fa-check' : 'text-danger fas fa-times'}}"></i>
									</span>
									<span ng-if="stat.type != 'bool'">{{item[stat.var]}}</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<br />
		<nav class="row" aria-label="Item result navigation" ng-show="totalPages > 1">
			<ul class="pagination">
				<li class="page-item">
					<a class="page-link" ng-click="onPreviousClicked()" aria-label="Previous">
						<span aria-hidden="true">
							<i class="fas fa-chevron-left"></i>
						</span>
						<span class="sr-only">Previous</span>
					</a>
				</li>
				<li class="page-item" ng-repeat="i in getPageArray(totalPages) track by $index" ng-class="{active: i == currentPage}">
					<a class="page-link" ng-click="onPageClicked(i)">{{i}}</a>
				</li>
				<li class="page-item">
					<a class="page-link" ng-click="onNextClicked()" aria-label="Next">
						<span aria-hidden="true">
							<i class="fas fa-chevron-right"></i>
						</span>
						<span class="sr-only">Next</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>

	<div ng-include="'/shared/footer.html'"></div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	    crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	    crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-cookies.min.js"></script>
	<script src="/js/apps/legendwiki-app.js"></script>
	<script src="/js/controllers/items-controller.js"></script>
	<script src="/js/controllers/header-controller.js"></script>
</body>

</html>
