$gray-900: #212529;
$body-bg: $gray-900;
$white: #fff;
$body-color: $white;
$gray-800: #343a40;
$gray-700: #495057;
$gray-600: #6c757d;
$gray-500: #adb5bd;
$gray-400: #ced4da;
$gray-300: #dee2e6;
$gray-200: #e9ecef;
$gray-100: #f8f9fa;
$table-dark-color: $body-color;
$table-head-color: $gray-700;
$table-head-bg: $gray-200;
$table-dark-bg: $gray-900;
$blue: #007bff;
$primary: $blue;
$table-dark-hover-bg: rgba($primary, .25);
$table-hover-bg: rgba($primary, .25);
$black: #000;
$table-accent-bg: rgba($black, .35);
$yiq-contrasted-threshold: 150;
$table-dark-accent-bg: rgba($black, .35);
$table-dark-border-color: lighten($gray-900, 7.5%);
$table-bg: transparent;
$nav-tabs-link-active-color: $gray-200;
$dark: $gray-800;
$btn-link-disabled-color: $gray-600;
$btn-disabled-opacity: .5;
$jumbotron-bg: $gray-800;
$table-border-color: $gray-600;
$card-border-color: $table-border-color;
$card-bg: lighten($gray-900, 2%);
$list-group-bg: $gray-800;
$list-group-action-color: $white;
$modal-header-border-color: $table-border-color;
$modal-content-bg: $body-bg;
$close-color: $gray-200;
$close-text-shadow: 0 0 0 $white;
$popover-bg: $gray-700;
$tooltip-bg: $white;
$tooltip-color: $black;
$alert-color-level: 9;
$alert-bg-level: -3.5;
$alert-border-level: 0;
$breadcrumb-bg: $gray-800;
$breadcrumb-divider-color: $gray-100;
$breadcrumb-active-color: $gray-100;
$link-color: lighten($primary, 10%);
$kbd-bg: $white;
$kbd-color: $gray-900;
$pre-color: $white;
$code-bg: $gray-800;
$text-muted: $gray-500;
$card-cap-bg: lighten($gray-900, 4%);
$input-bg: $black;
$input-focus-bg: $gray-900;
$input-disabled-bg: $gray-700;
$input-color: $white;
$input-border-color: $gray-500;
$input-placeholder-color: $gray-500;
$input-group-addon-bg: $gray-700;
$input-group-addon-color: $white;
$border-color: $gray-600;
$pagination-bg: $dark;
$pagination-border-color: $gray-600;
$pagination-color: $white;
$pagination-hover-color: $black;
$pagination-disabled-bg: darken($pagination-bg, 8%);
$pagination-disabled-color: darken($pagination-color, 15%);
$pagination-disabled-border-color: $gray-600;

