$white: #fff;
$gray-100: #fdf6e3;
$gray-200: #eee8d5;
$gray-300: #93a1a1;
$gray-400: #839496;
$gray-500: #657b83;
$gray-600: #586e75;
$gray-700: #073642;
$gray-800: #002b36;
$gray-900: #05232b;
$black: #000;
$blue: #268bd2;
$indigo: #6610f2;
$purple: #6c71c4;
$pink: #e83e8c;
$red: #dc322f;
$orange: #fd7e14;
$yellow: #b58900;
$green: #859900;
$teal: #20c997;
$cyan: #2aa198;
$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;
$body-bg: $gray-800;
$body-color: $gray-200;
$link-color: $primary;
$link-hover-color: $link-color;
$component-active-color: rgba(255, 255, 255, .75);
$component-active-bg: $primary;
$font-family-sans-serif: "Source Sans Pro", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$table-accent-bg: rgba($white, .05);
$table-hover-bg: rgba($white, .075);
$table-border-color: $component-active-bg;
$table-dark-bg: $gray-900;
$table-dark-border-color: darken($gray-500, 3%);
$table-dark-color: $gray-200;
$input-bg: $gray-700;
$input-disabled-bg: $gray-600;
$input-border-color: rgba($black, .15);
$input-placeholder-color: $gray-400;
$input-group-addon-color: $gray-200;
$input-group-addon-bg: $gray-700;
$dropdown-bg: $gray-900;
$dropdown-divider-bg: $body-bg;
$dropdown-link-color: $body-color;
$dropdown-link-hover-color: rgba(255, 255, 255, .75);
$dropdown-link-hover-bg: $body-bg;
$nav-tabs-border-color: $gray-800;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color;
$nav-tabs-link-active-color: $component-active-color;
$nav-tabs-link-active-bg: $body-bg;
$nav-tabs-link-active-border-color: $nav-tabs-border-color;
$navbar-light-color: rgba($black, .4);
$navbar-light-active-color: rgba($black, .7);
$pagination-bg: $gray-900;
$pagination-border-color: $gray-700;
$pagination-hover-bg: $gray-200;
$pagination-hover-border-color: $gray-600;
$pagination-active-color: $gray-200;
$pagination-active-bg: $primary;
$pagination-active-border-color: $gray-600;
$pagination-disabled-color: $gray-300;
$pagination-disabled-bg: $gray-600;
$pagination-disabled-border-color: $gray-600;
$jumbotron-bg: $gray-800;
$card-border-color: rgba($gray-900, .95);
$card-cap-bg: $gray-900;
$card-bg: $gray-700;
$popover-bg: $gray-700;
$popover-border-color: $gray-200;
$popover-header-bg: $gray-900;
$modal-content-bg: $gray-800;
$modal-content-border-color: $gray-200;
$modal-header-border-color: $gray-600;
$progress-bg: $gray-800;
$progress-bar-color: $primary;
$list-group-bg: transparent;
$list-group-border-color: $gray-800;
$list-group-hover-bg: $gray-800;
$list-group-active-color: rgba(255, 255, 255, .75);
$list-group-disabled-color: $component-active-bg;
$list-group-disabled-bg: transparent;
$list-group-action-color: $body-color;
$list-group-action-hover-color: $component-active-color;
$breadcrumb-bg: $gray-200;
$close-color: $body-color;
$close-text-shadow: none;
$pre-color: inherit;
$input-color: $gray-200;
$input-focus-color: $dark;
$input-focus-bg: $gray-200;
$custom-select-indicator-color: $gray-800;
$custom-control-indicator-checked-color: $component-active-color;
$custom-checkbox-indicator-indeterminate-color: $custom-control-indicator-checked-color;
$tooltip-bg: $gray-200;
$tooltip-color: $gray-800;
$dropdown-border-color: $gray-200;
$pagination-color: $gray-200;
$pagination-hover-color: $link-hover-color;
