<!doctype html>
<html lang="en">
    <head>
        <%-include("../shared/meta");-%>
        <meta name="robots" content="none">
    </head>
    <body>
        <div class="container">
            <br><br>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header text-center">
                            <h1>Fatal Error</h1>
                        </div>
                        <div class="card-body text-center">
                            <p>A fatal error has occurred that has prevented a proper error response. Please contact the system administrator.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%-include("../shared/scripts");-%>
    </body>
</html>
