<div id="filtersModal" aria-labelledby="filtersModalLabel" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filtersModalLabel">Select search filters</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
					<p class="col-12 text-info">Use these to only show results with those stats.</p>
					<p class="col-12 text-info">Search again after selecting.</p>
				</div>
				<div class="row">
          <button class="col-12 btn btn-primary btn-block" ng-click="resetFilters()">Reset to defaults</button>
        </div>
				<br />
        <div class="list-group">
          <div ng-repeat="category in statCategories" class="list-group-item flex-column align-items-start">
            <h4 class="mb-3">{{ category["name"] }}</h4>
            <div class="list-group list-group-flush">
              <button ng-if="statInfo[stat]['type'] !== 'select'" ng-repeat-start="stat in category['stats']" ng-click="statInfo[stat]['filter'] = !statInfo[stat]['filter']" type="button" class="list-group-item list-group-item-action list-group-item-light">
                <div class="d-flex col justify-content-between">
                  <h5>{{ statInfo[stat]["display"] }}</h5>
                  <span><i ng-class="{'text-success': statInfo[stat]['filter'], 'fa-check': statInfo[stat]['filter'], 'text-danger': !statInfo[stat]['filter'], 'fa-times': !statInfo[stat]['filter']}" class="fas"></i></span>
                </div>
              </button>
              <select ng-if="statInfo[stat]['type'] === 'select'" ng-repeat-end class="list-group-item list-group-item-action list-group-item-light" ng-model="statInfo[stat]['filter']">
                <option value="">Choose a {{ statInfo[stat]['short'] }}</option>
                <option ng-repeat="option in selectShortOptions[statInfo[stat]['var']] track by $index" ng-value="$index">{{ option }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
