<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REMOTE_ADDR} !^192\.168\.1\.1
RewriteCond %{DOCUMENT_ROOT}/maintenance.html -f
RewriteCond %{DOCUMENT_ROOT}/maintenance.enable -f
RewriteCond %{SCRIPT_FILENAME} !maintenance.html
RewriteRule ^.*$ /maintenance.html [R=503,L]

RewriteCond %{HTTP_HOST} ^legendhub.org [NC]
RewriteRule ^(.*)$ https://www.legendhub.org/$1 [L,R=301,NC]
</IfModule>
ErrorDocument 503 /maintenance.html
ErrorDocument 404 /error/404.html
Header Set Cache-Control "max-age=0, no-store"
