<div ng-show="questModel === null" ng-cloak>
    <h1><span class="text-danger">Quest Not Found</span></h1>
</div>
<div ng-show="!!questModel" ng-cloak>
    <span class="text-info">You can assign this quest to an item on the item edit page.</span>
    <div class="form-row">
        <div class="form-group col-12 col-lg-5">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Title</span>
                </div>
                <input type="text" id="titleControl" ng-model="questModel.Title" class="form-control" ng-class="{'is-invalid': !questModel.Title}" required lh-autofocus>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12 col-lg-5">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Area</span>
                </div>
                <select id="areaControl" ng-model="questModel.AreaId" class="form-control" ng-class="{'is-invalid': !questModel.AreaId || questModel.AreaId < 0}" required>
                    <option ng-repeat="area in areas" ng-value="area.Id">{{::area.Name}} {{::area.Era ? '(' + area.Era + ')' : ''}}</option>
                <select>
            </div>
        </div>
    </div>
    <span class="text-info">Use a semicolon to split multiple whoises.</span>
    <div class="form-row">
        <div class="form-group col-12 col-lg-5">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Whois</span>
                </div>
                <input type="text" id="titleControl" ng-model="questModel.Whoises" class="form-control">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12 col-lg-5">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Stat Quest</span>
                </div>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <input type="checkbox" ng-model="questModel.Stat">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <span>This field supports <a href="https://github.com/showdownjs/showdown/wiki/Showdown's-Markdown-syntax" target="_blank">markdown</a> and <a href="https://github.com/showdownjs/showdown/wiki/Emojis" target="_blank">emoji</a>.</span>
    <div class="form-row">
        <div class="form-group col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Content</span>
                </div>
                <textarea class="form-control" rows="10" ng-model="questModel.Content"></textarea>
            </div>
            <div class="card">
                <div class="card-header">Preview</div>
                <div class="card-body" markdown-to-html="questModel.Content"></div>
            </div>
        </div>
    </div>
</div>
