<br />
<div class="footer bg-dark">
	<div class="container">
		<div class="p-3">
			<div class="row text-light" style="font-size:.8em">
				<span class="mx-auto text-center">This domain, its content, and its creators are not associated, nor affiliated, with the LegendMUD immortal staff.</span>
			</div>
			<div class="row text-light" style="font-size:.8em">
				<span class="mx-auto text-center">Additionally, since this is an open-access project, all of the information posted and listed may be incorrect.</span>
			</div>
			<div class="row text-primary">
				<span class="mx-auto text-center"><i class="far fa-copyright"></i>&nbsp;2018</span>
			</div>
		</div>
	</div>
</div>
<lh-cookie-consent></lh-cookie-consent>
