tabindex="0" role="button" data-container="lh-header>div" data-toggle="popover" data-placement="bottom" ng-attr-data-content="{{getNotificationContent()}}" ng-if="!!currentUser" lh-popover><span ng-if="notifications.length > 0">
    <span class="badge badge-pill badge-danger">{{notifications.length}}</span>&nbsp;</span>
    <i class="fas fa-bell"></i>
</a>
