<%if(locals.user) {%>
<a id="<%-id%>" class="<%-classes%>" tabindex="0" role="button" data-toggle="popover">
    <%if (locals.user.notifications.length > 0) {%>
    <span class="badge badge-pill badge-danger"><%-locals.user.notifications.length%></span>&nbsp;
    <%_}_%>
    <i class="fas fa-bell"></i></span>
</a>
<%}%>
