<div id="questModal" aria-labelledby="questModalLabel" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="questModalLabel">Choose a Quest</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
						<form name="searchQuestForm" ng-submit="$parent.searchQuests($parent.questSearchName)" class="col-12 mb-3">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<i class="fas fa-search"></i>
									</span>
								</div>
								<input id="questSearchInput" ng-model="$parent.questSearchName" type="text" class="form-control" placeholder="Search by title, area, or content..." aria-label="Search for quest">
								<div class="input-group-append">
									<button type="submit" class="btn btn-outline-primary">Search</button>
								</div>
							</div>
						</form>
						<div class="mb-3" ng-show="questSearchResults.length > 0">
							<div class="table-responsive col-12">
								<div class="list-group">
									<button type="button" class="list-group-item list-group-item-secondary list-group-item-action" ng-click="$parent.onQuestSelected(quest)" ng-repeat="quest in questSearchResults">{{quest.Title}}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
