<!doctype html>
<% this.title = "401 Error"; %>
<html lang="en">
    <head>
        <%-include('../shared/meta');-%>
    </head>
    <body ng-app="legendwiki-app">
        <%-include("../shared/header");-%>
        <div class="container">
            <div class="row">
                <div class="card col-12">
                    <div class="card-header text-center">
                        <h1>Unauthorized</h1>
                    </div>
                    <div class="card-body text-center">
                        <p>You do not have permission to view this page. If you believe you have reached this page in error, please contact the site administrator for assistance.</p>
                        <lh-perm-check lh-perm-inverse ng-cloak>
                            <p>You are not logged in. This is likely the reason why you were redirected to this page.</p>
                        </lh-perm-check>
                    </div>
                </div>
            </div>
        </div>
        <%-include("../shared/footer");-%>
        <%-include("../shared/scripts");-%>
    </body>
</html>
