<!doctype html>
<html lang="en">
    <head>
        <%- include('shared/meta'); -%>
        <link href="https://www.legendhub.org/index.html" rel="canonical">
        <meta name="description" content="LegendHUB is a community driven resource for all things LegendMUD, the Multi User Dungeon. Find all the information you need to play a legendary MUD.">
        <meta property="og:description" content="LegendHUB is a community driven resource for all things LegendMUD, the Multi User Dungeon. Find all the information you need to play a legendary MUD." />
    </head>
    <body ng-app="legendwiki-app">
        <%- include('shared/header'); -%>
        <div class="container">
            <div class="row mb-3">
                <div class="col-12 text-center">
                    <h1>Welcome to LegendHUB!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <span>New to LegendMUD?<small class="float-right text-info">2019-07-25</small></span>
                        </div>
                        <div class="card-body text-center">
                            <p>If you're new to LegendMUD, check out this comprehensive <a href="/wiki/details.html?id=716">newbie guide</a> written by our community in the wiki section.</p>
                            <p>If you're an old player returning to LegendMUD, check out this list of <a href="/wiki/details.html?id=743">major updates</a> over the years.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <span>What is LegendHUB?<small class="float-right text-info">2018-06-19</small></span>
                        </div>
                        <div class="card-body text-center">
                            <p>Welcome to LegendHUB, a community-driven resource designed to provide updated information and easily-accessible, user-friendly tools.</p>
                            <br>
                            <p>After making an account, anyone can edit any part of LegendHUB without any special privileges. This site, and its data, is made by the community for the community. It also works well on mobile devices!</p>
                            <br>
                            <p>Similar to other community-driven resources, vandalism of content is discouraged. Those found to be posting incorrect or inappropriate information will be subject to consequences. For us, it is very easy to identify vandals, revert unwanted changes, and ban those who refuse to act civilly. Therefore, such behavior is futile and we're sure you have better things to do with your time.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
        <%- include('shared/footer'); -%>
        <%- include('shared/scripts'); -%>
    </body>
</html>
